@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,500,700|Material+Icons');

.clickable {
  cursor: pointer;
}

table {
 th {
   &.cron {
     max-width: 400px;
     overflow-wrap: break-word;
     overflow: hidden;
   }
 }
}
